.App {
  background-color: #BC96E6;
  color: rgb(0, 0, 0);
}

.body {
  text-align: center;
  display: flex;
  font-size: calc(10px + 1.5vmin);
  min-height: calc(100vh - 70px);
}

.footer {
  background-color: #BC96E6;
  display: flex;
  margin-bottom: -10px; 
  padding-bottom: 17px;
}

.footer p {
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  
}

.left {
  float: left;
}

.right {
  float: right;
}

.personalInfo {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  float: right; 
}

.photo {
  width: 90%;
  height: 45vh;
}